
<nav class="main-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/reservation">Reservation</a></li>
    <li><a href="/team">Our Team</a></li>
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/my-orders">My Orders</a></li>
    <!--temporary-->
    <li><a href="/admin/menu">Admin</a></li>
  </ul>
</nav>
