<section class="hero-slider">
  <div class="slider-container">
    <div class="slide active">
      <img src="/images/hero/hero1.jpg" alt="">
      <div class="slide-text">
        <h1>Experience Rich Indian Flavours</h1>
        <p>Old Rao brings you rustic ambience and modern elegance.</p>

        <a href="/menu" class="btn-primary">Order Online</a>
        <a href="/reservation" class="btn-secondary">Book a Table</a>
      </div>
    </div>
    <div class="slide">
      <img src="/images/hero/hero2.jpg" alt="">
      <div class="slide-text">
        <h1>Delicious Meals Crafted With Love</h1>
        <p>Fresh ingredients. Authentic recipes. Beautiful atmosphere.</p>

         <a href="/menu" class="btn-primary">Order Online</a>
        <a href="/reservation" class="btn-secondary">Book a Table</a>
      </div>
    </div>
    <div class="slide">
      <img src="/images/hero/hero3.jpg" alt="">
      <div class="slide-text">
        <h1>Book a Table & Enjoy Warm Hospitality</h1>
        <p>Perfect for families, celebrations, and casual dining.</p>

        <a href="/menu" class="btn-primary">Order Online</a>
        <a href="/reservation" class="btn-secondary">Book a Table</a>
      </div>
    </div>
  </div>

  <button class="slider-btn left" id="prevSlide">❮</button>
  <button class="slider-btn right" id="nextSlide">❯</button>
</section>


<!-- Popular dishes -->
<section class="popular">
  <div class="container">
    <h2 class="section-title">Popular Dishes</h2>

    <div class="popular-grid">
      <div class="dish-card">
        <img src="/images/dish/dish1.jpg" alt="">
        <h3>Butter Chicken</h3>
        <p>Rich, creamy and smoky</p>
      </div>

      <div class="dish-card">
        <img src="/images/dish/dish2.jpg" alt="">
        <h3>Paneer Tikka</h3>
        <p>Char-grilled perfection</p>
      </div>

      <div class="dish-card">
        <img src="/images/dish/dish3.jpg" alt="">
        <h3>Garlic Naan</h3>
        <p>Soft, fluffy and flavorful</p>
      </div>
    </div>
  </div>
</section>


<!-- Reviews Section -->
<section class="reviews-section">
  <h2 class="section-title">Customer Reviews</h2>

  <div class="reviews-slider">
    
    <button class="review-btn left">❮</button>

    <div class="reviews-track">

      <div class="review-card slide-review active">
        <p>"Amazing authentic Indian flavours! The ambience feels royal."</p>
        <h4>- Priya Sharma</h4>
      </div>

      <div class="review-card slide-review">
        <p>"Best place for family dinner. Loved the staff and service!"</p>
        <h4>- Raghav Singh</h4>
      </div>

      <div class="review-card slide-review">
        <p>"Old Rao is my go-to restaurant! Food is consistently excellent."</p>
        <h4>- Tanya Verma</h4>
      </div>

    </div>

    <button class="review-btn right">❯</button>
  </div>
  
  <a href="/review" class="reviews-readmore">Read More</a>

</section>

