
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Old Rao</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- HEADER -->
  <%- include("partials/header") %>

  <!-- NAVBAR -->
  <%- include("partials/navbar") %>
  

  <main>
    <!-- PAGE CONTENT GOES HERE -->
    <%- body %>
  </main>

  <!-- FOOTER -->
  <%- include("partials/footer") %>

  <!-- JS Files -->
  <script src="/js/main.js"></script>
</body>
</html>
