
<section class="container auth-page">
  <h2>Create Account</h2>

  <form action="/signup" method="POST" class="auth-form">
    <input name="name" placeholder="Full Name" required>
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <button class="btn-primary">Sign Up</button>
  </form>

  <p>Already have an account? <a href="/login">Login</a></p>
</section>
